in_vivo_translation/
cell_culture_system/.snakemake/
.snakemake/
cell_culture_system/results*
cell_culture_system/logs/
cell_culture_system/results_v0/
in_vivo_translation/results/
in_vivo_translation/logs/
*.bam
*.bam.bai
*.sam
*.cram
*.crai
*.fastq.gz
*.fq.gz
reference/fbgn_annotation_ID_fb_2025_04.tsv.gz
library_qc/qc_plots/*
reference/
rRNA_analysis/
cell_culture_system/figures
cell_culture_system/scripts/
library_qc/
snakemake_scripts/analysis/mei_P26_wMel_scripts/
